name: CI

on:
  workflow_dispatch:
  push:

permissions:
  checks: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check_server:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout git repo
        uses: actions/checkout@v4

      - uses: Swatinem/rust-cache@v2

      - name: Check formatting
        run: cargo fmt --all -- --check

      - name: Run clippy
        run: cargo clippy --workspace --all-features -- -Dwarnings

  build_server:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-musl
          - aarch64-unknown-linux-musl
    steps:
      - name: Checkout git repo
        uses: actions/checkout@v4
        with:
          submodules: true

      - uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.target }}

      - name: Download cross
        run: |
          wget https://github.com/rust-embedded/cross/releases/download/v0.2.1/cross-v0.2.1-x86_64-unknown-linux-musl.tar.gz
          sudo tar -xvf cross-v0.2.1-x86_64-unknown-linux-musl.tar.gz -C /usr/local/bin

      - name: Build application
        run: |
          cross build --release --bin tress --target ${{ matrix.target }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tress-${{ matrix.target }}
          path: target/${{ matrix.target }}/release/tress

  build_ui:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: beta

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - working-directory: ui/flutter
        env:
          ANDROID_KEYSTORE: ${{ secrets.ANDROID_KEYSTORE }}
        run: |
          echo $ANDROID_KEYSTORE | base64 -d > keystore.jks
          echo "storePassword=${{ secrets.ANDROID_KEYSTORE_PASSWORD }}" >> android/key.properties
          echo "keyPassword=${{ secrets.ANDROID_KEYSTORE_PASSWORD }}" >> android/key.properties
          echo "keyAlias=${{ secrets.ANDROID_KEYSTORE_KEY_ALIAS }}" >> android/key.properties
          echo "storeFile=$(pwd)/keystore.jks" >> android/key.properties
          flutter build apk --build-number=$GITHUB_RUN_NUMBER --dart-define=GIT_COMMIT_HASH=$(git rev-parse HEAD) --split-per-abi

      - uses: actions/upload-artifact@v4
        with:
          name: tress-android
          path: ui/flutter/build/app/outputs/flutter-apk/app-*-release.apk

  release:
    runs-on: ubuntu-latest
    if: success() && (github.event_name == 'push' || github.event_name == 'workflow_dispatch') && github.ref == 'refs/heads/main'
    needs:
      - check_server
      - build_server
      - build_ui
    concurrency:
      group: release
      cancel-in-progress: true
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          path: artifacts

      - run: |
          ls -R artifacts
          mkdir release_artifacts

          echo "Preparing android apks"
          cp artifacts/tress-android/app-arm64-v8a-release.apk release_artifacts/tress-arm64-v8a-release-${{ github.run_number }}.apk
          cp artifacts/tress-android/app-armeabi-v7a-release.apk release_artifacts/tress-armeabi-v7a-release-${{ github.run_number }}.apk
          cp artifacts/tress-android/app-x86_64-release.apk release_artifacts/tress-x86_64-release-${{ github.run_number }}.apk

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "v${{ github.run_number }}"
          prerelease: false
          title: "v${{ github.run_number }}"
          files: release_artifacts/*

  deploy_server:
    runs-on: ubuntu-latest
    needs:
      - check_server
      - build_server
      - build_ui
    if: success() && (github.event_name == 'push' || github.event_name == 'workflow_dispatch') && github.ref == 'refs/heads/main'
    permissions:
      packages: write
    steps:
      - name: Checkout git repo
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - run: |
          mkdir -p artifacts/linux/amd64 artifacts/linux/arm64
          mv -T artifacts/tress-x86_64-unknown-linux-musl artifacts/linux/amd64
          mv -T artifacts/tress-aarch64-unknown-linux-musl artifacts/linux/arm64
          ls -R artifacts

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/hasali19/tress:latest
          platforms: linux/amd64,linux/arm64
